# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  workflow_dispatch:
    inputs:
      environment:
        type: choice
        description: Choose an environment
        required: false
        default: 'dev'
        options: 
        - dev
        - test
        - preprod
        - prod

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  dev:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    environment: dev
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo ${{ secrets.BENT }}

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project. 
          echo "Dev secret is Burg: Is it working: ${{ secrets.BENT == 'Burg' }}"
          echo "Test secret is Faber: Is it working: ${{ secrets.BENT == 'Faber' }}"
  test:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    environment: test
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo ${{ secrets.BENT }}

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project. 
          echo "Dev secret is Burg: Is it working: ${{ secrets.BENT == 'Burg' }}"
          echo "Test secret is Faber: Is it working: ${{ secrets.BENT == 'Faber' }}"
